#car
    z-index: 2
    position: absolute
    
html:hover
    cursor: none

#coin, #coin2, #coin3
    position: absolute
    z-index: 2
    
#playButton
    width: auto
    height: auto
    font-size: 11px